.col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.row {
  padding: 1rem;
}
.working {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
.heading {
  font-size: 3.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: white;
}
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.work {
  max-width: 350px;
  min-height: 350px;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  box-shadow: rgba(209, 209, 209, 0.4) 0px 0px 0px 2px,
    rgba(224, 220, 220, 0.65) 0px 2px 3px -1px,
    rgba(60, 60, 60, 0.08) 0px 1px 0px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.work > .link_svg {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
}
.work img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  cursor: pointer;
}
.work:hover .link_svg {
  display: block;
  transition: transform 0.3s ease-in;
}
.work_info {
  color: #eee;
  letter-spacing: 0.5px;
  font-size: 1.7rem;
  transition: transform 0.3s ease-in;
}
@media (max-width: 950px) {
  .works {
    gap: 3rem;
  }
}
@media (max-width: 650px) {
  .row {
    padding: 0;
  }
  .working {
    padding: 0;
    margin: 0;
  }
  .works {
    padding: 0;
    margin: 0;
    gap: 2rem;
  }
}
