.completecard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.popular_books {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.rotate {
  perspective: 100rem;
}
.book_card {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.8s;
  max-width: 350px;
  min-height: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card_header {
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.img_fluid {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.card_footer {
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.back {
  position: absolute;
  top: -100%;
  background: #fefefe;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: top 0.8s, opacity 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.back_content {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.rotate:hover .book_card {
  transform: rotateY(180deg);
}
.rotate:hover .back {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}
.texting {
  font-size: 1.7rem;
}
.about {
  font-size: 1.5rem;
}
@media (max-width: 420px) {
  .completecard {
    padding: 0;
  }
}
