.completecard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.popular_books {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.rotate {
  perspective: 100rem;
}

.book_card {
  position: relative;
  box-shadow: 5px 5px 20px #aaa;
  max-width: 350px;
  transition: all 0.8s;
}

.card_header {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 1rem;
}

.card_body {
  padding: 0.5rem;
}

.img_fluid {
  width: 100%;
  height: 100%;
}

.card_footer {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 1rem;
}

.back {
  position: absolute;
  top: -100%;
  background: #fefefe;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: top 0.8s, opacity 0.4s;
}

.back_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate:hover .book_card {
  transform: rotateY(180deg);
}

.rotate:hover .back {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}

.texting {
  padding: 1rem;
  font-size: 28px;
}

.about {
  padding: 1rem;
  font-size: 24px;
}
.button {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
