.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 28px;
  font-weight: 600;
}

.welcome {
  stroke-dasharray: 9541.93, 9541.93;
  stroke-dashoffset: 7156;
  transition: fill 1s ease-in-out 0s;
  stroke: rgb(234, 18, 18);
  fill: rgb(22, 19, 104);
  padding-top: 2rem;
}
