.canvasContainer {
  padding-top: 4.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  overflow: hidden;
  pointer-events: none;
}

.canvasContainer > canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}
