.col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.row {
  padding: 1rem;
}
.about {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}
.heading {
  font-size: 35px;
  font-weight: 400;
  color: white;
  padding-left: 1.1rem;
}
.details_photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex: 8;
}
.details > p {
  position: relative;
}
.details p > span {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  border-color: #000000 black #ffffff white;
  animation: spinner 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  position: absolute;
  top: 30%;
  left: -6px;
  transform: translateY(-50%);
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.details p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  color: white;
}
.photobox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 1rem;
  flex: 4;
}
.photo {
  display: flex;
  border-radius: 12px;
  padding: 0.75rem;
  border: 2px solid white;
}
.photo img {
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
}
span {
  color: rgb(248, 30, 77);
}
@media (max-width: 900px) {
  .details_photo {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .row {
    padding: 0;
  }
  .about {
    padding: 0;
    margin: 0;
  }
  .details p {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .details_photo {
    padding: 0;
    margin: 0;
    margin-top: 1.4rem;
  }
  .details {
    padding-left: 0;
  }
  .photo {
    width: auto;
    padding: 0;
    padding: 1rem;
    margin-top: 1rem;
  }
  .photobox {
    padding: 0;
  }
  .photo img {
    border-radius: 12px;
    height: 180px;
  }
  .details p {
    font-size: 14px;
  }
}
